@font-face {
  font-family: "Poppins Regular";
  font-weight: 400;
  src: url(/fonts/Poppins-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Poppins Bold";
  font-weight: 700;
  src: url(/fonts/Poppins-Bold.ttf);
  font-style: normal;
}
